html, body {
  color: #fff;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  button, input {
    border: none;
    border-radius: 5px;
  }

  h1, h2, a, button, select {
    text-transform: uppercase;
    font-weight: 400;
  }

  h1 {
    font-size: 2.6vw;
  }
}

main {
  background-color: #555555;
  display: flex;
  flex-direction: column;
}
